<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OutlookAddInOVA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <OutlookAddInOVA.Properties.Settings>
      <setting name="prmQuestionForward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="prmQuestionAnswer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="prmQuestionNew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="prmCreateZunFromMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="prmSmartFastFormulirovka" serializeAs="String">
        <value />
      </setting>
      <setting name="prmSmartFastKriterii" serializeAs="String">
        <value />
      </setting>
      <setting name="prmSmartExecutorFormulirovka" serializeAs="String">
        <value />
      </setting>
      <setting name="prmSmartExecutorKriterii" serializeAs="String">
        <value />
      </setting>
    </OutlookAddInOVA.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>